

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed";
  font-size: 13px;
  background-color: rgb(48, 181, 230);
}
section {
  background-color:hsl(300, 100%, 99%);
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h5-600 {
  font-weight: 600;
}


h3 {
  font-weight: 600;
}
img {
  border-radius: 50px;
  height: 100%;
}
#img-daniel,
#img-patrick {
  border: solid hsl(260, 100%, 95%) 3px;
}
#img-jonathan,
#img-jeanette,
#img-kira {
  border: solid hsl(214, 17%, 92%);
}
.item-1 {
  background-color: hsl(263, 55%, 52%);
}
.item-1,
.item-2,
.item-4 {
  color: hsl(214, 17%, 92%);
}
.item-2 {
  background-color: hsl(217, 19%, 35%);
}

.item-4 {
  background-color:hsl(219, 29%, 14%);
}


.item-3,
.item-5{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

h5 > .item-3, 
h5 > .item-5{
    color: hsl(217, 19%, 35%);
}

.img-name {
  display: flex;
}
.name {
  padding: 20px;
}
.container-grid {
  width: 1440px;
  background-color: hsl(214, 17%, 92%);
  padding: 40px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  grid-gap: 30px ;
  
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  border-radius: 5px;
}

.item-1{
grid-column: 1 / span 2;
}
.item-4{
    grid-row: 2;
    grid-column: 2 / span 2;
}
.item-5{
  grid-column: 4;
  grid-row: 1 / span 2;
}



@media screen and (max-width: 375px) {
    .container-grid {
    grid-template-columns: 1fr;
    background-color: red;
    }
}

